@charset "UTF-8" 

/* 
Paleta de cores 
Verde:  
*/ 

* { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html { 
    height: 100vh;
    width:100vw;
    background-color: rgb(250, 184, 62);
} 

main { 
    height: 100vh;
    width: 100vw; 
    position: relative;
} 

#formulario, form , #campo { 
    padding: 10px !important;
}

section#login{ 
    position: absolute;
    top: 50%;
    left: 50%; 
    background-color: white;
    width: 250px;
    height: 40em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
    border-radius: 20px; 
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function:  ease-out;
} 

section#login > div#imagem { 
    
    background: rgb(94, 177, 255) url(img/sean-pollock-PhYq704ffdA-unsplash.jpg);
    border-radius: 20px;
    background-size: cover  ;
    background-position: left bottom ; 
    height: 200px;
     
}

section#login > div#formulario { 
    display: block;
    padding: 10px;
    font-family: monospace;
} 

form > input[type=submit] { 
    display: block;
    width: 100%;
    text-transform: capitalize;
    height: 30px;

         background-color: rgba(20, 202, 20, 0.61);
    font-size: 1em;
} 

form > input[type=submit]:hover{ 
    background-color: rgb(20, 202, 20);
} 

form a , .botao { 
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none;
    padding-top: 5px;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid  rgba(94, 235, 94, 0.863);
    height: 40px;
    background-color: rgba(255, 255, 255, 0.863);
}

div.campo > label { 
    display: none;

}

form a , .botao:hover {
    background-color: rgba(94, 235, 94, 0.863) ;
  }  


  form > div.campo { 
    background-color: aquamarine; 
    display: block;
    width: 100%;
    margin: 5px 0px;
    height: 40px;
    border-radius: 5px;
  } 

  form .campo, label { 
    display: none;
  } 

  div.campo > span { 
    background-color: white;
    padding: 5px;
    font-size: 1em;
    width: 20px;
    height: 30px;
  }